@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
